@namespace Hwavmvid.Devices
@inherits DevicesComponentBase

@using System
@using System.Linq

<style type="text/css">

    .ellipsis {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

</style>

@if (DevicesServices.item != null &&
     DevicesServices.item.audios != null &&
     DevicesServices.item.microphones != null &&
     DevicesServices.item.webcams != null &&
     AudioDefaultDevice != null &&
     MicrophoneDefaultDevice != null &&
     WebcamDefaultDevice != null)
{
    
    <div class="Hwavmvid.Devices">

        <div class="small mt-2 mb-1"><u><mark>Browser Default Audiooutput</mark></u></div>
        <div class="p-1 px-sm-1 py-sm-3 mb-1 mb-sm-2 border border-secondary overflow-hidden">

            @foreach(var audioitem in DevicesServices.item.audios)
            {
                <button type="button" class="btn btn-sm btn-link d-block ellipsis @(audioitem.id == AudioDefaultDevice.id ? "btn-success text-white" : "bg-transparent")" @onclick="@(() => SetAudioDefaultDevice(audioitem))">
                    @audioitem.name
                </button>
            }

        </div>

        <div class="small mt-2 mb-1"><u><mark>Browser Default Microphone</mark></u></div>
        <div class="p-1 px-sm-1 py-sm-3 mb-1 mb-sm-2 border border-secondary overflow-hidden">

            @foreach(var microphoneitem in DevicesServices.item.microphones)
            {
                <button type="button" class="btn btn-sm btn-link d-block ellipsis @(microphoneitem.id == MicrophoneDefaultDevice.id ? "btn-success text-white" : "bg-transparent")" @onclick="@(() => SetMicrophoneDefaultDevice(microphoneitem))">
                    @microphoneitem.name
                </button>
            }

        </div>

        <div class="small mt-2 mb-1"><u><mark>Browser Default Webcam</mark></u></div>
        <div class="p-1 px-sm-1 py-sm-3 mb-sm-2 border border-secondary overflow-hidden">

            @foreach(var webcamitem in DevicesServices.item.webcams)
            {
                <button type="button" class="btn btn-sm btn-link d-block ellipsis @(webcamitem.id == WebcamDefaultDevice.id ? "btn-success text-white" : "bg-transparent")" @onclick="@(() => SetWebcamDefaultDevice(webcamitem))">
                    @webcamitem.name
                </button>
            }

        </div>

    </div>

}

@code {

}
