@namespace Mihcelle.Hwavmvid.Modules.ChatHubs

@inherits SettingsModalBase

@using Microsoft.AspNetCore.Components.Web
@using BlazorDraggableList
@using Mihcelle.Hwavmvid.Modal


<Modalcomponent ElementId="@SettingsModalElementId">

    <Modalheader>
        <div class="p-2 bg-primary text-light">
            <strong>Account Data</strong>
        </div>
    </Modalheader>

    <Modalbody>
        <div class="p-sm-3 bg-white text-dark">

            <p class="lead">Here a little overview of all current related userdata activities for guests and registered users.</p>

            <div class="form-group">
                <label for="displayname">Username</label>
                <input class="form-control" type="text" id="displayname" placeholder="@ChatHubService.ConnectedUser?.DisplayName" readonly>
            </div>

            @if (ChatHubService.ConnectedUser != null && ChatHubService.ConnectedUser.Connections != null)
            {

                <BlazorDraggableListComponent Items="ChatHubService.ConnectedUser.Connections" Id="DraggableConnectionsElementId" Class="form-group" Orientation="@BlazorDraggableListOrientationType.Vertical">
                    <BlazorDraggableListItem>
                        <div class="form-group text-start small">
                            <label>Connected since @context.CreatedOn.ToLongDateString() @context.CreatedOn.ToLongTimeString()</label>
                            <input class="form-control" type="text" placeholder="@context.ConnectionId" readonly>
                        </div>
                    </BlazorDraggableListItem>
                </BlazorDraggableListComponent>

            }
        </div>
    </Modalbody>

    <Modalfooter>
        <div class="p-2 my-3 float-end">
            <button type="button" class="btn btn-sm btn-primary" @onclick="() => CloseDialogAsync()">Close</button>
        </div>
    </Modalfooter>

</Modalcomponent>
